

/* section-3 start */
.section-3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
}
.section-3-heding h2{
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    
}
.section-3-heding p{
    text-align: center;
    padding-bottom: 3.6rem;
    font-weight: 100;
   font-weight: 50;
   opacity: .7;
   padding-left: 2rem;
   padding-right: 2rem;
   
   
}
.section-3-card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    width: 85%;
    flex-wrap: wrap;
   
   }
   .section-3-card-detilies{
   width: 43%;
    background: #FFF;
    margin-left: 2rem;
    margin-bottom: 2rem;
   padding-bottom: 5rem;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
   }
   .section-3-card-detilies-img i{
    font-size: 2.4rem;
    border-radius: 50%;
    background: rgb(144, 120, 120);
    padding: 1.5rem;
    margin-top: 3rem;
    
    }
    .section-3-card-detilies-heding h2{
        padding-top: 1.9rem;
        padding-bottom: 1.5rem;
        font-size: 2.6rem;
    }
    .section-3-card-detilies-detilies p{
       
        text-align:center;
        padding: .3rem;
      text-align:center;
        font-size: 1.2rem;
        
    }
    
   .section-3-button{
    margin: 0 auto;
    padding-top: 3rem;
    margin-top: -8rem;
    margin-bottom: 3rem;
}
.section-3-button button{
    padding: 1.5rem 3rem;
    background: rgb(51, 61, 200);
    border-radius: 5rem;
    color: #FFF;
    border: none;
    margin-bottom: 4rem;
    
}


/* section-3 end */



/* <!-- section -4 start --> */

.section-4-heading  h2{
    font-size: 2rem;
    padding-top: 6.7rem;
    padding-bottom: 1.4rem;
}
.section-4-heading  p{
    text-align: center;
    padding-bottom: .4rem;
    font-weight: 100;
   font-weight: 50;
   opacity: .7;
   font-size: 1rem;
   
}
.section-4-picture-area{

    margin-top: 3rem;
 
    
    
}

.section-4-picture-area-home-ditilies{
    height: 22rem;
  
  
    
}


    
/* <!-- section -4 end --> */

/* <!-- section -5 start --> */


.section-5-main{
    width: 80%;
    height: auto;
    
    margin-top: 5rem;
    margin-bottom: 6rem;
    display: flex;
    align-items:center;
    justify-content:center ;
    flex-wrap: wrap;
}
.section-5-p-box{
    
    width: 40%;
    height: 12rem;
    box-shadow: .3rem .3rem .3rem .3rem rgb(121, 94, 94);
    background:#FFF;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items:center;
    justify-content:center ;

}
.section-5-p-box-c-box{
    text-align: center;
   border-top-right-radius: 100%;
    background: rgba(193, 134, 184, 0.544);
    width: 55%;
    height: 70%;
    display: flex;
    align-items:center;
    justify-content:center ;
    flex-direction: column;
}
.section-5-p-box-c-box p{
    font-size: 1.2rem;
    color: rgb(234, 0, 255);
}
   
/* <!-- section -5 end --> */



/* <!-- section -9 start --> */



.section-9-main-cumllam-1{
    display: flex;
    align-items:center;
    justify-content:center ;
    margin-bottom: 2rem;
   flex-wrap: wrap;
}

.section-9-main-cumllam-1-img{
    width: 70%;
    height:auto;
    display: flex;
    align-items:center;
    justify-content:center ;
    margin-bottom: 3rem;
}


.section-9-main-cumllam-1-text{
    width: 70%;
    height: 40rem;
    margin: 0rem 5rem 0rem 4rem;

}
.section-9-main-cumllam-1-text h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 100;
    text-align: center;
}
.section-9-main-cumllam-1-text h1{
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.section-9-main-cumllam-1-text p{
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 1.17rem;
}
.section-9-main-cumllam-1-text h4{
    text-align: justify;
    font-weight: 100;
    font-size: 1.17rem;
}

/* cullom-2 */


.section-9-main-cumllam-2{
    display: flex;
    align-items:center;
    justify-content:center ;
    margin-bottom: 2rem;
   flex-wrap: wrap;
   flex-direction: column-reverse;
}

.section-9-main-cumllam-2-img{
    width: 70%;
    height:auto;
    display: flex;
    align-items:center;
    justify-content:center ;
    margin-bottom: 3rem;
}


.section-9-main-cumllam-2-text{
    width: 70%;
    height: 40rem;
    margin: 0rem 7rem 0rem 4rem;
    

}
.section-9-main-cumllam-2-text h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 100;
    text-align: center;
}
.section-9-main-cumllam-2-text h1{
    font-size: 6rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.section-9-main-cumllam-2-text p{
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 1.3rem;
}
.section-9-main-cumllam-2-text h4{
    text-align: justify;
    font-weight: 100;
    font-size: 1.3rem;
}



/* <!-- section -9 end --> */


/* <!-- section -6 start --> */






.section-6-pbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    width: 100%;
    height: auto;
}
.section-6-pbox-cbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.section-6-pbox-cbox-homebox{
    width: 63%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    margin-bottom: 5rem;
    margin-left: 2rem;
    box-shadow: .4rem .4rem 1REM  rgb(187, 187, 187);
   position:relative;
   overflow: hidden;
  
   
 
}
.section-6-pbox-cbox-homebox-regular{
    width: 100%;
    background: green;
    text-align: center;
    position:absolute;
    transform: rotate(45deg);
    
    transform:scale(10deg);
    bottom: 75%;
    left:35%;
    
   
}
.section-6-pbox-cbox-homebox-regular h3{
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size:2.5rem ;
  padding-right: 2.8rem;
  color: rgb(255, 255, 255);
  

}
.section-6-pbox-cbox-homebox-box{
    display: flex;
   
    flex-direction: column;
    text-align: left;
   width: 80%;
   height: auto;
}
.section-6-pbox-cbox-homebox-box h2{
    font-size: 2.4rem;
    margin-top: 1rem;
}
.section-6-pbox-cbox-homebox-box h1{
    font-size: 3.8rem;
    margin-top: 2rem;
   
}
.section-6-pbox-cbox-homebox-box h4{
    font-size: 1.2rem;
    margin-top: .8rem;
}
.section-6-pbox-cbox-homebox-box hr{
    margin-top: 1rem;
}
.section-6-pbox-cbox-homebox-box p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.section-6-pbox-cbox-homebox-box button{
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 50%;
    height: 3.9rem;
    margin-bottom: 2rem;
    background: rgb(16, 24, 187);
    border-radius: 20rem;
    border: none;
    color: #FFF;
}



/* <!-- section -6 end --> */


/* <!-- section -11 start --> */

.section-11{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-11-pbox{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 8rem;
    flex-wrap: wrap;
    
}
.section-11-pbox-box{
    width: 45%;
    display: flex;
    padding-left: 2.5rem;
    text-align: left;
    flex-direction: column;
    margin-left: 2%;
   /* background: rgb(147, 75, 75); */
   margin-bottom: 1rem;

}
.section-11-pbox-box h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.6rem;

   
}
.section-11-pbox-box p{
   
    margin-bottom: 1rem;
    
    font-size: 1.4rem;
}

.section-11-pbox-box h2 i{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-right: 2%;
}
.section-11-pbox-box-btn-1{
    width: 60%;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: Transparent;
   font-size: 1.6rem;
}
.section-11-pbox-box-butotn{
    width: 80%;
    display: flex;
  
    
}
.section-11-pbox-box-butotn-btn1{
    width: 40%;
    height: auto;
    margin-right:.4rem;
    margin-bottom: .4rem;
}
.section-11-pbox-box-butotn-btn1 button{
    width: 100%;
    font-size: 1.1rem;

    padding-top: 1rem;
    padding-bottom: .5rem;
    background:transparent;
    
}
.section-11-pbox-box-butotn-btn2{
    width: 60%;
  
  
    margin-bottom: .4rem;
}
.section-11-pbox-box-butotn-btn2 button{
    width: 100%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    background:transparent;
}
.section-11-foder{
    width: 68%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: .7rem;
}
.section-11-foder-h1{}
.section-11-foder-h1 h1{}
.section-11-foder-h2 {}
.section-11-foder-h2 h2{}



/* <!-- section -11 end --> */
